.decorations {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: decorations-appear 1s ease-out forwards;
}

.loadingDecorations {
    text-align: center;
    color: #535204;
}

.errorDecorations {
    text-align: center;
    color: darkred;
}

.decorations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes decorations-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}